.page {
	@apply container flex flex-col gap-[120px];

	& .blueButton {
		@apply flex-center-center gap-4 text-white bg-blue-gradient rounded-full text-s_body py-8 px-12 font-normal;
	}

	& .section {
		@apply flex flex-col gap-[50px] items-center;

		& > .titleWrapper {
			@apply flex flex-col gap-[30px] items-center;

			& > .title {
				@apply text-center;
			}

			& > .subtitle {
				@apply text-[24px] text-balance;
			}
		}
		& .title {
			@apply font-bold font-benzin text-[48px] leading-[116%] text-balance !important;
		}

		&.blue {
			@apply bg-blue-gradient mx-2 py-14 tb:py-16 rounded-[50px] text-white;
		}
	}

	& .section_1 {
		@apply rounded-[50px] p-[50px] bg-white
		flex flex-col justify-between 
		items-center tb:items-start;
		background-image: url('/img/phone.webp');
		background-repeat: no-repeat;
		background-position: right 50px top 50px;
		background-size: 47%;

		@media (768px <= width < 1024px) {
			background-position: right 5px bottom -100px;
			background-size: 50%;
		}
		@media (width < 768px) {
			background-image: none;
		}

		& > .title {
			@apply text-s_h1 font-normal 
			tb:w-[60%]
			text-balance;
			@apply text-[56px] !important;
			letter-spacing: 1px;

			& > span {
				@apply text-s_h1 font-bold
				text-balance transition-all2 text-blue-gradient;
				@apply text-[56px] !important;
			}
		}
	}

	& .section_2 {
		@apply flex flex-col gap-[50px] items-center;

		& > .badges {
			@apply grid grid-cols-3 ds:grid-cols-6 gap-3;
		}
	}

	& .section_3 {
		& > .advantagesContainer {
			@apply w-full gap-2 ds:gap-3;

			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			grid-auto-flow: row;
			grid-template-areas:
				'safeNetwork safeNetwork maximumSpeed'
				'youtube4k ease traffic';

			& > .advantageContent {
				@apply flex flex-col justify-between gap-6 bg-white rounded-3xl px-5 py-6 tb:p-8;

				& > .advantageTitle {
					@apply flex-center-between items-start text-s_h3;

					& > .advantageIcon {
						@apply text-[45px];
					}
				}

				& > .advantageSubtitle {
					@apply pr-12 text-balance;
				}
			}

			@media (width < 1024px) {
				grid-template-columns: 1fr;
				grid-template-areas:
					'safeNetwork'
					'maximumSpeed'
					'youtube4k'
					'ease'
					'traffic';
			}

			& > .safeNetwork {
				grid-area: safeNetwork;
			}
			& > .maximumSpeed {
				grid-area: maximumSpeed;
			}
			& > .youtube4k {
				grid-area: youtube4k;
			}
			& > .ease {
				grid-area: ease;
			}
			& > .traffic {
				grid-area: traffic;
			}
		}
	}

	& .section_4 {
		& > .items {
			@apply grid grid-cols-2 items-start gap-5;

			& > .left {
				@apply bg-white rounded-[30px] p-[50px] flex flex-col gap-[50px];

				& > .leftWrapper {
					@apply flex flex-col gap-5 items-start;
					& > .leftTitle {
						@apply font-bold font-benzin text-[36px] leading-[116%] text-balance;
					}
				}

				& .leftItem {
					@apply py-7 flex items-center gap-4 border-b border-black/10;

					& > .leftBadge {
					}

					& > .leftText {
						& > .leftLink {
							@apply underline text-blue-gradient relative;

							&::after {
								content: '';
								@apply block absolute left-0 bottom-0 w-full h-[2px] bg-blue-gradient;
							}
						}
					}
				}
			}

			& > .right {
				@apply bg-white bg-blue-gradient rounded-[30px] h-full overflow-hidden relative;

				& > .rightImage {
					@apply h-full w-full z-1;
					background-image: url('/img/phone-bg.webp');

					background-repeat: no-repeat;
					background-position: right 50% top -90px;
					background-size: 300%;
				}
			}
		}
	}

	& .section_5 {
	}

	& .section_6 {
	}

	& .section_7 {
	}

	& .section_8 {
	}

	& .section_9 {
	}
}
