.page {
	@apply overflow-hidden container flex flex-col gap-[50px] tb:gap-[100px] ds:gap-[120px];

	& .button {
		@apply flex-center-center gap-2 tb:gap-4 rounded-full font-normal text-wrap
		text-s_text tb:text-s_body 
		py-6 tb:py-9 ds:py-8
		px-7 tb:px-9 ds:px-12;

		&.blueButton {
			@apply text-white bg-blue-gradient;
		}

		&.whiteButton {
			@apply text-black bg-white;
		}

		@media (width < 342) {
			@apply text-[14px] py-3 px-4;
		}
	}

	& .section {
		@apply flex flex-col gap-[30px] tb:gap-[50px] items-center scroll-mt-[120px];

		& > .badges {
			@apply flex-center-center flex-wrap 
			gap-2 tb:gap-5 ds:gap-7
			text-s_text tb:text-s_body;
		}

		& > .titleWrapper {
			@apply flex flex-col gap-[30px] items-center;

			& > .title {
				@apply text-center;
			}

			& > .subtitle {
				@apply text-balance text-center;
			}
		}
		& .title {
			@apply font-bold font-unbounded text-[29px] tb:text-[38px] ds:text-[48px] leading-[116%] text-balance !important;

			@media (width < 342) {
				@apply text-[20px] !important;
			}
		}

		& .subtitle {
			@apply text-[18px] tb:text-[24px];

			@media (width < 342) {
				@apply text-[16px];
			}
		}

		&.blue {
			@apply bg-blue-gradient mx-2 py-5 tb:py-16 rounded-[50px] text-white;
		}
	}

	& .section_1 {
		@apply relative rounded-[50px] p-5 tb:p-[50px] bg-white
		flex flex-col tb:justify-between 
		items-center tb:items-start text-center tb:text-left;

		& > .title {
			@apply w-[90%];
		}

		& > .icon {
			@apply absolute flex-center-center bg-white size-[100px] rounded-full shadow-2xl;
			animation: wiggle-chaotic 15s infinite ease-in-out;

			@keyframes wiggle-chaotic {
				0% {
					transform: translateY(0px);
				}
				10% {
					transform: translateY(-30px);
				}
				20% {
					transform: translateY(20px);
				}
				30% {
					transform: translateY(-25px);
				}
				40% {
					transform: translateY(35px);
				}
				50% {
					transform: translateY(-40px);
				}
				60% {
					transform: translateY(30px);
				}
				70% {
					transform: translateY(-20px);
				}
				80% {
					transform: translateY(25px);
				}
				90% {
					transform: translateY(-15px);
				}
				100% {
					transform: translateY(0px);
				}
			}
		}

		background-image: url('/img/phone-main.webp');
		background-repeat: no-repeat;
		background-position: right 50px top 50px;
		background-size: 47%;

		@media (768px <= width < 1024px) {
			background-position: right 5px bottom -100px;
			background-size: 50%;

			& > .icon {
				@apply hidden;
			}
		}
		@media (width < 768px) {
			@apply h-[700px];
			background-image: url('/img/phone-main-mb.webp');
			background-size: 50%;
			background-position: bottom;

			& > .icon {
				@apply hidden;
			}
		}

		@media (width < 640px) {
			@apply h-[600px];
		}

		@media (width < 490px) {
			background-size: 60%;
		}

		@media (width < 420px) {
			background-size: 70%;
		}

		@media (width < 342px) {
			@apply h-[500px];
			background-size: 80%;
		}

		& > .title {
			@apply text-s_h1 font-normal 
			tb:w-[60%]
			text-balance;
			@apply text-[30px] tb:text-[46px] ds:text-[56px] !important;
			letter-spacing: 1px;

			@media (width < 342) {
				@apply text-[20px] !important;
			}

			& > span {
				@apply text-s_h1 font-bold
				text-balance transition-all2 text-blue-gradient;
				@apply text-[30px] tb:text-[46px] ds:text-[56px] !important;

				@media (width < 342) {
					@apply text-[20px] !important;
				}
			}
		}
	}

	& .section_2 {
		@apply flex flex-col gap-[30px] tb:gap-[50px] items-center;
	}

	& .section_3 {
		& > .advantagesContainer {
			@apply w-full gap-2 ds:gap-3;

			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			grid-auto-flow: row;
			grid-template-areas:
				'safeNetwork safeNetwork maximumSpeed'
				'youtube4k ease traffic';

			& > .advantageContent {
				@apply flex flex-col justify-between gap-6 bg-white rounded-3xl px-5 py-6 tb:p-8;

				& > .advantageTitle {
					@apply flex-center-between text-wrap items-start;

					& > .title {
						@apply text-s_h3 font-bold font-sf_pro
						text-[18px] tb:text-[24px] ds:text-[28px] !important;
					}

					& > .advantageIcon {
						@apply text-[35px] tb:text-[45px];
					}
				}

				& > .advantageSubtitle {
					@apply text-s_text tb:text-s_body pr-12 text-balance;
				}
			}

			@media (width < 1024px) {
				grid-template-columns: 1fr;
				grid-template-areas:
					'safeNetwork'
					'maximumSpeed'
					'youtube4k'
					'ease'
					'traffic';
			}

			& > .safeNetwork {
				grid-area: safeNetwork;
			}
			& > .maximumSpeed {
				grid-area: maximumSpeed;
			}
			& > .youtube4k {
				grid-area: youtube4k;
			}
			& > .ease {
				grid-area: ease;
			}
			& > .traffic {
				grid-area: traffic;
			}
		}
	}

	& .section_4 {
		& > .title {
			@apply text-center;
		}

		& > .items {
			display: grid;
			grid-auto-columns: 1fr;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr;
			gap: 10px 10px;
			grid-template-areas: 'left right';

			@media (width < 1024px) {
				grid-template-columns: 1fr;
				grid-template-areas:
					'right'
					'left';
			}

			& > .left {
				@apply bg-white rounded-[30px] p-[20px] tb:p-[50px] flex flex-col gap-[50px] h-full;

				grid-area: left;

				& > .leftWrapper {
					@apply flex flex-col gap-5 items-start;
					& > .leftTitle {
						@apply font-bold font-unbounded leading-[116%] text-balance;
					}
				}

				& .leftItem {
					@apply py-5 tb:py-7 flex items-center gap-4 border-b border-black/10;

					& > .leftBadge {
						@apply flex-center-between shrink-0 border-1 border-blue-500 px-2 rounded-full text-blue-gradient
						text-s_text tb:text-s_body;

						@media (width < 342) {
							@apply text-[14px];
						}
					}

					& > .leftText {
						@apply text-s_text tb:text-s_body;

						@media (width < 342) {
							@apply text-[13px];
						}

						& > .leftLink {
							@apply underline text-blue-gradient relative;

							&::after {
								content: '';
								@apply block absolute left-0 bottom-0 w-full h-[2px] bg-blue-gradient;
							}
						}
					}
				}
			}

			& > .right {
				@apply bg-white bg-blue-gradient rounded-[30px] h-full overflow-hidden relative flex items-center flex-col pt-[60px] max-h-[660px];
				grid-area: right;

				&::before {
					content: '';
					/* @apply block absolute 
							left-[50%] translate-x-[-50%] 
							top-2 
							w-[130px] h-[36px] 
							rounded-full bg-[black]; */

					@apply block absolute h-full w-full left-0 bottom-0;

					background-image: url('/img/nerp-bg.webp');
					background-repeat: no-repeat;
					background-position: center bottom;
					background-size: 125%;
				}

				& > .rightPhone {
					@apply relative;
					& > .rightContent {
						@apply block absolute top-0 left-0 
						w-[calc(100%-36px)] translate-x-[18px]
						h-[calc(100%-30px)] translate-y-[15px]
						rounded-[60px];

						background-image: url('/img/phone-content.gif');
						background-repeat: no-repeat;
						background-position: center top;
						background-size: 100%;

						&::before {
							content: '';
							@apply block absolute 
							left-[50%] translate-x-[-50%] 
							top-2 
							w-[130px] h-[36px] 
							rounded-full bg-[black];
						}

						&::after {
							content: '';
							@apply block absolute 
							left-[50%] translate-x-[38px] 
							top-2 translate-y-[50%]
							w-[18px] h-[18px] 
							rounded-full bg-[#202020];
						}
					}
				}
			}
		}
	}

	& .section_5 {
		& > .title {
			@apply w-[90%] text-balance text-center;
		}

		& > .tariffs {
			@apply px-5 tb:px-10 flex-center-center gap-7 tb:gap-5 flex-wrap;

			& > .tariff {
				@apply flex flex-col  bg-white text-black rounded-3xl
				w-[280px] tb:w-[350px] ds:w-[380px]
				gap-5 tb:gap-7 
				p-5 tb:p-8;

				@media (width < 342) {
					@apply w-[210px];
				}

				&.top {
					@apply relative;

					& > .topBadge {
						@apply absolute bg-black text-white rounded-xl p-[10px]
						top-[-20] tb:top-[-30] right-[70] -rotate-6
						text-s_text tb:text-s_body;

						@media (width < 342) {
							@apply text-[12px];
						}
					}
				}

				& > .tariffHeader {
					@apply flex-center-between  gap-2;

					& > .badge {
						@apply border shrink-0 border-black 
						p-1 px-2 tb:p-2 
						text-s_caption tb:text-s_text ds:text-s_body;

						@media (width < 342) {
							@apply text-[12px];
						}
					}

					& > .economy {
						@apply text-s_caption tb:text-s_text;

						@media (width < 342) {
							@apply text-[12px];
						}
					}
				}

				& div > .price {
					@apply text-s_h4 tb:text-s_h3 ds:text-s_h2;

					@media (width < 342) {
						@apply text-[20px];
					}
				}

				& div > .pricePerDay {
					@apply text-gray-3 text-s_body tb:text-s_h5 ds:text-s_h4;

					@media (width < 342) {
						@apply text-[14px];
					}
				}

				& > .tariffName {
					@apply font-unbounded text-s_h4 tb:text-s_h3 ds:text-s_h2;

					@media (width < 342) {
						@apply text-[18px];
					}
				}

				& > .borderedLine {
					@apply border-b border-gray-3 border-dashed;
				}
			}
		}
	}

	& .section_6 {
		@apply flex flex-col gap-[30px] tb:gap-[50px] items-center;

		& > .blueButton {
			@apply px-11 py-7 tb:px-28 tb:py-9;
		}

		& > .badges {
			& > .badge {
				@apply text-s_text tb:text-s_body flex gap-2;

				& > .flag {
					@apply size-5 tb:size-7 rounded-lg;
				}
			}
		}
	}

	& .section_7 {
		& > .title {
			@apply text-center;
		}
	}

	& .section_8 {
		@apply relative tb:px-4 py-10 text-center overflow-hidden;

		& > .whiteButton {
			@apply px-11 py-7 tb:px-28 tb:py-9;
		}

		&::before,
		&::after {
			content: '';
			position: absolute;
			width: 420px;
			height: 420px;
			background-repeat: no-repeat;
			background-size: contain;
			pointer-events: none;
			z-index: 0;
			opacity: 0.5;

			@media (width < 1024px) {
				width: 280px;
				height: 280px;
				bottom: -20;
			}
		}

		&::before {
			background-image: url('/img/nerp-bg.webp');
			right: 40;
			transform: scaleX(1);
			@media (width < 768px) {
				left: 50%;
			}
		}

		&::after {
			background-image: url('/img/nerp-bg.webp');
			left: 40;
			transform: scaleX(-1);

			@media (width < 768px) {
				background-image: none;
			}
		}

		& > .titleWrapper {
			@apply relative z-10 mx-auto w-[80%];
		}

		& > .whiteButton {
			@apply relative z-10;
		}
	}

	& .section_9 {
		& > .title {
			@apply text-center;
		}
	}
}
