@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--header-height-mb: 100px;
		--header-height: 100px;

		--body-scrollbar-width: 10px;
		--content-scrollbar-width: 8px;
	}
}

html {
	/* @apply scroll-smooth; */
	@media not (pointer: coarse) {
		@apply spaceForScrollbar;
	}
}

body {
	@apply font-sf-pro text-black text-s_text;
}

h1 {
	@apply text-s_h1;
}

h2 {
	@apply text-s_h2;
}

h3 {
	@apply text-s_h3;
}

h4 {
	@apply text-s_h4;
}

h5 {
	@apply text-s_h5;
}

img {
	pointer-events: none;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	object-fit: contain;
}

button {
	@apply cursor-pointer;

	&:disabled,
	&[disabled] {
		@apply cursor-default;
	}
}
